@import url("bootstrap.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("data-table.css");
html,
body {
    height: 100%;
}

body {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    border-top: 0.2rem solid #222;
}
body.noScroll {
    overflow: hidden;
}

a,
p,
label,
input,
table,
.btn {
    font-size: 1.4rem;
    color: #222 !important;
    outline: none !important;
}
a.sm,
p.sm,
label.sm,
input.sm,
table.sm,
.btn.sm {
    font-size: 1.16667rem;
}

aside {
    width: 25rem;
    min-height: 100%;
    background: #fff;
    position: fixed;
    text-align: right;
    padding: 3rem;
    z-index: 99;
    border-right: 0.1rem solid #dbdbdb;
}
@media screen and (max-width: 1100px) {
    aside {
        width: 20rem;
    }
}
@media screen and (max-width: 640px) {
    aside {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 8rem;
        text-align: left;
        padding: 1.5rem;
    }
}
aside .mobile-btn {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 110;
}
@media screen and (max-width: 640px) {
    aside .mobile-btn {
        visibility: visible;
        opacity: 1;
        top: 0.8rem;
        right: 1.5rem;
        z-index: 110;
    }
    aside .mobile-btn i {
        font-size: 2.8rem;
    }
}
aside h1 {
    font-size: 2.38rem;
    color: #222;
    font-weight: 300;
    margin: 0 0 2rem 0;
    z-index: 105;
}
aside h1 span {
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    position: relative;
    color: #a6a6a6;
    display: inline-block;
    vertical-align: top;
    display: block;
}
@media screen and (max-width: 1100px) {
    aside h1 {
        font-size: 1.82rem;
    }
}
@media screen and (max-width: 640px) {
    aside h1 {
        font-size: 2.1rem;
    }
}
aside nav {
    margin: 3rem 0;
}
@media screen and (max-width: 640px) {
    aside nav {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -o-transform: translateY(2rem);
        transform: translateY(2rem);
    }
    aside nav.active {
        visibility: visible;
        opacity: 1;
        position: relative;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -o-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}
aside nav ul {
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    text-transform: uppercase;
}
aside nav ul li a {
    color: #222;
    font-size: 1.4rem;
    line-height: 3rem;
    cursor: pointer;
}
aside nav ul li a i {
    margin-left: 1rem;
    font-size: 115%;
}
aside nav ul li ul {
    display: none;
    margin-bottom: 0;
}
aside nav ul li ul li {
    position: relative;
}
aside nav ul li ul li a {
    font-size: 1.16667rem;
    line-height: 2.2rem;
    color: #7b7b7b !important;
    cursor: pointer;
}
aside nav ul li ul li a.active {
    text-decoration: underline;
}
aside [login] {
    display: block;
}

section {
    width: calc(100% - 25rem);
    top: 0;
    height: 100%;
    padding: 3rem 3rem 7rem 3rem;
    position: relative;
    z-index: 100;
    left: 25rem;
}
@media screen and (max-width: 1100px) {
    section {
        width: calc(100% - 20rem);
        left: 20rem;
    }
}
@media screen and (max-width: 640px) {
    section {
        width: 100%;
        padding: 1.5rem;
        left: 0;
    }
}
section .archive {
    height: 100%;
    display: block;
    white-space: nowrap;
    text-align: center;
}
section .archive .image {
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
}
section .archive .image .zoom-img {
    margin-bottom: 2rem;
}
section .archive .image .zoom-img img {
    max-width: 90rem;
    max-height: 55rem;
}
@media screen and (max-width: 640px) {
    section .archive .image .zoom-img img {
        width: 100%;
    }
}
section .archive .helper {
    position: relative;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
section .control {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    margin-top: -2.5rem;
    color: #c9c9c9 !important;
}
section .control.prev {
    left: 3rem;
}
section .control.next {
    right: 3rem;
}

.admin-header {
    border-bottom: 0.1rem solid #dbdbdb;
    margin-bottom: 2rem;
    padding: 0rem 0rem 1rem 0rem;
}
.admin-header h2[icon-title] {
    margin: 0 !important;
    font-weight: 300;
    font-size: 2.1rem;
}
.admin-header h2[icon-title] i {
    margin-right: 1rem;
}
.admin-header .actions {
    text-align: right;
}
.admin-header .actions ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#archives-table figure {
    height: 40px;
    width: 40px;
    background-color: #c9c9c9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#archives-table form {
    display: inline-block;
}
#archives-table form button {
    background: transparent;
    border: 0;
    padding: 0;
    display: inline-block !important;
}

.thumbs .media {
    margin-bottom: 3rem;
}
.thumbs .media figure {
    width: 15rem;
    height: 15rem;
    background-color: #dbdbdb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1100px) {
    .thumbs .media figure {
        width: 11rem;
        height: 11rem;
    }
}
.thumbs .media h4 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.07rem;
    line-height: 2.1rem;
}
@media screen and (max-width: 1100px) {
    .thumbs .media h4 {
        font-size: 1.4rem;
    }
}
.thumbs .media p {
    color: #7b7b7b;
}

label {
    font-weight: 400 !important;
}

input,
.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus {
    height: 4rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1.5rem;
}
input:focus,
.form-control:focus,
.form-control:hover:focus,
.form-control:active:focus,
.form-control:focus:focus {
    border-color: #949494;
}

input.hidden-input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

textarea {
    height: 10rem !important;
    resize: none;
}

.btn.btn-default,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default:visited {
    background: #fff;
    color: #222;
    border-radius: 0;
    border: 0.1rem solid #585858;
    margin: 1.5rem 0;
    height: 4rem;
    line-height: 3.8rem;
    padding: 0 2rem;
    outline: none !important;
}

#upload-img-btn {
    height: 10rem;
    width: 100%;
    background-color: #ededed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    #upload-img-btn {
        width: 60px;
        height: 60px;
        margin-bottom: 1.5rem;
    }
}

.confirm-box {
    background: #fff;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
}
.confirm-box p {
    font-size: 1.96rem;
}
.confirm-box a {
    margin: 0 1rem;
    display: inline-block;
}

.table {
    text-align: left !important;
}

.table > thead > tr > th {
    border-bottom: 0 !important;
    font-weight: 400 !important;
    padding: 1rem !important;
}

.tool-bar {
    height: 5rem;
    border-bottom: 0.1rem solid #dbdbdb;
    background: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 102;
    overflow: hidden;
}
.tool-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tool-bar ul li {
    display: inline-block;
}
.tool-bar ul li a {
    line-height: 5rem;
    display: block;
    padding: 0 1.5rem;
}
.tool-bar ul li a i {
    margin-right: 1rem;
}
@media screen and (max-width: 640px) {
    .tool-bar ul li a {
        padding: 0;
    }
}
.tool-bar ul li p {
    margin: 0;
    line-height: 5rem;
}
@media screen and (max-width: 640px) {
    .tool-bar ul li p {
        display: none;
    }
}

#archives-table_length {
    display: none !important;
}

#archives-table_filter {
    float: left !important;
}
#archives-table_filter label {
    text-align: left;
    display: block;
}
#archives-table_filter label input {
    margin: 1rem 0 0 0rem;
    display: block;
}

.alert-success {
    background: #cee6ed;
    border-radius: 0;
}

.paginate_button {
    background: transparent !important;
}

[data-modal] {
    cursor: pointer;
}

.modal-box {
    position: fixed;
    display: block;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(201, 201, 201, 0.8);
    top: 0;
    left: 0;
    z-index: 110;
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    overflow: scroll;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.modal-box .modal-cont {
    padding: 0rem;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    border-radius: 0.3rem;
}
.modal-box .modal-cont img {
    width: 100%;
}
.modal-box .modal-cont input {
    background: #ededed;
    border: 0;
}
.modal-box .modal-h {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.modal-box.active {
    opacity: 1;
}

[data-modalcont] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    font-size: 14px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    font-size: 14px;
    background-color: #222222;
    border-color: #222222;
}
